@{
    ViewData["Title"] = "Services";
    List<Services> objServices = new List<Services> { ViewBag.Services };
    List<Package> objPackage = ViewBag.Packages;
}


    @foreach (var items in objServices)
    {
    <div class="container">
        <div class="headings">
            <h2 class="heading">@items.ServiceTitle</h2>
        </div>
        <p>@Html.Raw(@items.ServiceDescription)</p>
    </div>
    }

<div class="plan-grid">
    <div class="cards">
        @foreach (var item in objPackage)
        {

        <div class="card shadow @(item.PackageTitle == "Standard" ? "active" : "")">
            <ul>

                <li class="pack">@item.PackageTitle</li>

                <li id="basic" class="price bottom-bar"><sup>$</sup>@item.Price</li>
                <li class="bottom-bar">@Html.Raw(@item.PackageDescription)</li>
                <li><a class="cta" asp-action="AddToCart" asp-controller="Cart" asp-route-Amount="@item.Price" asp-route-ServiceId="@item.ServicesId" asp-route-PackageId="@item.Id" class="btn btn-primary">Add to Cart</a></li>
            </ul>
        </div>

        }
    </div>
</div>
