@using AaravEnterprise.ViewModel;
@{
    ViewData["Title"] = "Completed Orders";
    List<Order> objOrder = ViewBag.UserOrder;
}
<div class="container">
    <div class="headings">
        <h2 class="heading">Completed Orders</h2>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Order Date</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Order Amount </th>
                    <th scope="col">Payment Status</th>
                    <th scope="col">Payment ID</th>
                    <th scope="col">Payment Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in objOrder)
                {
                    <tr>
                        <td scope="row"> @item.OrderDate</td>
                        <td scope="row"> @item.OrderStatus</td>
                        <td scope="row"> @item.TotalAmount</td>
                        <td scope="row"> @item.PaymentStatus</td>
                        <td scope="row"> @item.PaymentId</td>
                        <td scope="row"> @item.PaymentDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>