@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@using AaravEnterprise.ViewModel;
@model List<CartViewModel>
@{
    ViewData["Title"] = "CheckOut";
}
@{
    var user = UserManager.GetUserAsync(User).Result;
    var userName = user?.UserName;
    var userEmail = user?.Email;
    var userId = user?.Id;
    var userPhone = user?.PhoneNumber;
}

<div class="container">
    <div class="headings">
        <h2 class="heading">Checkout</h2>
    </div>
    <div class="row">
        <table class="table table-borderless">
            <tr>
                <td><strong>Confirm Your Details</strong></td>
            </tr>
            <tr>
                <td>Name: @userName</td>
            </tr>
            <tr>
                <td>Email: @userEmail</td>
            </tr>
            <tr>
                <td>Phone: @userPhone</td>
            </tr>
        </table>
    </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">Package Selected</th>
                        <th scope="col">Amount </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row"> @item.CartId</td>
                            <td>@item.ServiceTitle</td>
                            <td>@item.PackageTitle</td>
                            <td> @item.Amount </td>
                        </tr>
                    }
                </tbody>
            </table>
            <table class="table">
                <tbody>
                    <tr class="payment-checkout-text">
                        <td>
                            <strong>Total Amount Payble : </strong><strong>$@ViewBag.Total.ToString()</strong>
                        </td>
                    </tr>
                   
                        <tr style="padding-top:50px">
                            <td style="float:right">
                                <img src="" />
                                <a asp-action="Paypalvtwo" asp-controller="PaypalPayment"><img style="height: 40px; width: 150px; background: #ffc439" src="~/assets/img/Paypal.svg" /></a>
                            </td>
                        </tr>
            </table>
        </div>
    
</div>    